.u-font-size {
  &--l {
    font-size: rem-calc(18);

    @include breakpoint(large) {
      font-size: rem-calc(20);
    }
  }

  &--s {
    font-size: rem-calc(14);

    @include breakpoint(large) {
      font-size: rem-calc(16);
    }
  }
}
