{% macro render(video, additionalClass, uniqid) %}
{% set autoplayLoad = (video.autoplay == 'true') ? 'autoplay' : 'preload="none"' %}

<div class="c-video {{additionalClass}} js-video-container" {% if video.fullscreen == 'true' %}data-target="{{uniqid}}"
  {% endif %}>

  {% if video.show_play != 'false' %}
  <div class="c-play-button js-video-play c-video__play-button">

    <div class="c-play-button__icon-container">
      <svg class="c-icon c-play-button__icon">
        <use href="#play" xlink:href="#play"></use>
      </svg>
    </div>

    {% if video.button_content != '' %}
    <div class="c-play-button__content-container">
      <div class="c-play-button__content">{{video.button_content}}</div>
    </div>
    {% endif %}

  </div>

  <div class="c-video__overlay o-background js-video-overlay"></div>
  {% endif %}

  <div class="c-video__image o-background js-video-image">
    <img data-src="{{ video.background.src }}" loading="lazy" class="u-image__background c-video__background lazy"
      alt="{{ video.background.alt }}" width="{{ video.background.width }}" height="{{ video.background.height }}">
  </div>

  {% if video.full_mp4 %}
  <video class="c-video__video u-image__background js-video lazy" playsinline muted loop {{autoplayLoad}}>
    <source data-src="{{video.full_mp4}}" type="video/mp4">
    {% if video.full_vtt != '' %}
    <track label="Nederlands" kind="subtitles" srclang="nl" src="{{video.full_vtt}}" mode="hidden">
    {% endif %}
  </video>
  {% endif %}

</div>

{% endmacro %}