.c-app-item {
  $root: &;
  background: $white;
  box-shadow: $box-shadow-1;
  position: relative;
  text-decoration: none;
  @include transition();
  border-radius: 2rem;
  border-top-left-radius: 0;
  border: 1px solid $gray;
  overflow: hidden;

  &:hover {
    text-decoration: none;
    transform: translateY(-0.25rem);
    box-shadow: $box-shadow-2;

    #{$root}__icon {
      transform: translateX(0.25rem);
    }
  }

  &__content-container {
    padding: 1.5rem 1.5rem;
  }

  &__subtitle {
    font-size: rem-calc(14);
    font-weight: 800;
    color: $theme-color-1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__title {
    font-size: rem-calc(16);
    font-weight: 800;
    text-decoration: none;
    color: $almost-black;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1.2;
    @include transition();
  }

  &__content {
    font-size: rem-calc(14);
    font-weight: 400;
    color: $almost-black;
    margin-bottom: 1.5rem;
  }

  &__button {
    color: $almost-black;
    fill: $almost-black;
    font-size: rem-calc(16);
    font-weight: 700;
    margin-top: 1rem;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__left-icon {
    @include square(2rem);
    margin-right: 0.5rem;
  }

  &__icon {
    @include transition(transform);
    @include square(1rem);
    margin-left: 0.5rem;
  }

  &__meta-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__meta {
    position: relative;
    margin-right: 0.75rem;
    padding-right: 0.75rem;
    color: $dark-gray;
    font-size: rem-calc(14);
    font-weight: 400;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(50%);
      width: 0.375rem;
      height: 0.375rem;
      background: $theme-color-1;
    }

    &--last,
    &:last-child {
      padding-right: 0;
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__meta-icon {
    @include square(1rem);
    margin-right: .25rem;
  }

  &__heart-container {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    fill: $almost-black;
    transform: scale3d(1, 1, 1);

    &.active,
    &:hover {
      fill: $theme-color-2;
    }

    &.loading {
      animation: loading 0.5s infinite;
    }
  }

  &__heart-icon {
    @include transition();
    @include square(1.5rem);
  }

  &__price {
    font-weight: 700;
    color: $almost-black;
  }

  @keyframes loading {
    from {
      transform: scale3d(1, 1, 1);
      fill: $theme-color-2;
    } 
    to {
      transform: scale3d(1.1, 1.1, 1);
      fill: $almost-black;
    }
  }
}