.c-app-overview {
  &__app {
    max-width: rem-calc(1120);
    margin: 0 auto;
  }

  &__app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__filter-container {
    width: 100%;

    @include breakpoint(large) {
      width: calc(100% / 3 - 4rem + 1px);
      padding-right: 2rem;
      border-right: 1px solid $almost-black;
      margin-right: -1px;
    }

    &--no-line {
      @include breakpoint(large) {
        width: 100%;
        padding-right: 0;
        border-right: 0;
        margin-right: 0;
      }
    }
  }

  &__posts-container {
    &:last-child {
      margin-top: 2rem;
    }

    &:first-child {
      margin-top: 0; //reset
    }
  }

  &__posts-wrapper {
    width: 100%;

    @include breakpoint(large) {
      width: calc(100% / 3 * 2 + 4rem);
      border-left: 1px solid $almost-black;
      padding-left: 4rem;
    }

    &--no-line {
      @include breakpoint(large) {
        width: 100%;
        border-left: 0;
        padding-left: 0;
      }
    }
  }

  &__count {
    width: 50%;
    font-size: rem-calc(22);
    font-weight: 600;
    margin-bottom: 1.5rem;

    @include breakpoint(medium only) {
      padding: 0 1rem;
    }

    @include breakpoint(large) {
      width: 50%;
      margin-left: 1rem;
      margin-bottom: 1.5rem;
      font-size: rem-calc(32);
    }
  }

  &__order {
    width: calc(50% - 2.5rem);
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-weight: 700;
    font-size: rem-calc(18);

    select {
      margin-left: 1rem;
      @include transition();
      padding: 0.25rem 0.5rem;
      background: $white;
      border: 1px solid $gray;
      box-sizing: border-box;
      font-size: rem-calc(15);
      font-weight: 400;
      line-height: 1.1rem;
      color: $almost-black;
      border-radius: 0.25rem;
      border-top-left-radius: 0;
      box-shadow: $box-shadow-1;
    }
  }

  &__filter-top-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.75rem 0;
    border-top: 1px solid $almost-black;
    border-bottom: 1px solid $almost-black;
    margin-bottom: 1.5rem;

    @include breakpoint(large) {
      display: none;
    }
  }

  &__filter-count {
    font-size: rem-calc(16);
    color: $almost-black;
  }

  &__filter-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: rem-calc(14);
    font-weight: 700;
    height: 2rem; // prevent jumpy transition
    text-transform: uppercase;
    color: $almost-black;

    @include breakpoint(large) {
      display: none;
    }
  }

  &__filter-icon {
    @include square(1.5rem);
    margin-right: 0.5rem;
    fill: $almost-black;

    &.active {
      @include square(1rem);
    }
  }

  &__posts {
    margin: 0 auto;
    @include breakpoint(medium) {
      width: calc(100% + 2rem);
      margin: 0 -1rem;
    }
  }

  &__post {
    @include transition(0.3s, all, ease-in-out);
    width: 100%;
    margin-bottom: 1rem;

    @include breakpoint(medium) {
      width: calc(50% - 2rem);
      margin: 0 1rem 2rem 1rem;
    }

    &--small {
      @include breakpoint(large) {
        width: calc(100% / 3 - 2rem);
      }
    }
  }

  &__no-posts {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__reset {
    font-weight: 300;
    margin-top: 1rem;
    text-decoration: underline;
    margin-top: 0.5rem;
    cursor: pointer;
  }

  &__toggle-button-container {
    margin: 2rem auto 0;
    width: 100%;
  }

  &__toggle-button {
    @include transition();
    position: relative;
    cursor: pointer;
    width: fit-content;
    color: $white;
    fill: $white;
    background: $theme-color-1;
    border: 1px solid $theme-color-1;
    box-shadow: $box-shadow-1;
    line-height: 1;
    font-size: rem-calc(14);
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem 4rem;
    letter-spacing: 1px;
    border: 1px solid $almost-black;
    border-radius: 0.75rem;
    border-top-left-radius: 0;


    &:hover {
      box-shadow: $box-shadow-2;
      transform: translateY(-0.25rem);
    }

    @include breakpoint(medium) {
      margin: 0 auto;
    }

    @include breakpoint(small only) {
      padding: 1rem 2rem;
      width: 100%;
      justify-content: center;
    }

    &.active {
      pointer-events: none;
    }
  }

  &__show-less {
    display: none;

    .active & {
      display: block;
    }
  }

  &__show-more {
    display: block;

    .active & {
      display: none;
    }
  }

  &__posts-count {
    text-align: center;
    margin-bottom: 1rem;
    color: $almost-black;
  }

  &__error {
    border-radius: 1rem;
    border-top-left-radius: 0;
    box-shadow: $box-shadow-1;
    border: 1px solid $theme-color-2;
    background: rgba($theme-color-1, 0.3);
    padding: 1rem 1.5rem;

    a {
      text-decoration: underline;
    }
  }
}
