.c-app-filter {
  $root: &;

  @include breakpoint(medium down) {
    @include transition(transform);
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);

    &.active {
      max-height: 100%;
      opacity: 1;
      pointer-events: all;
      padding: 1.5rem;
      transform: translateX(0);
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: calc(100% + 1px);
      height: calc(100vh + 1px);
      background: $white;
      z-index: z('lightbox');
      overflow: hidden;

      #{$root}__button-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: z('button-fixed');
      }
    }

    @include breakpoint(small only) {
      &.active {
        padding: 1.5rem 1rem;
      }
    }
  }

  &__top-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $almost-black;
    width: 100%;
  }

  &__top-bar-title {
    font-size: rem-calc(18);
    color: $almost-black;
    font-weight: 700;
  }

  &__filter-icon {
    @include square(1.3rem);
    fill: $almost-black;
  }

  &__wrapper {
    @include breakpoint(medium down) {
      display: block;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      height: calc(100% + 1px);
      height: calc(100vh + 1px);
    }
  }

  &__checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.2;
    width: 100%;
    margin-bottom: 0.75rem;
  }

  &__input-checkbox {
    position: relative;
    display: none;

    &:checked + .c-app-filter__label::after {
      content: url('https://fs.hubspotusercontent00.net/hubfs/248909/Template/check-white.svg');
      @include square(0.825rem);
    }

    &:disabled + .c-app-filter__label::before {
      background: $light-gray;
    }

    &:checked + .c-app-filter__label::before {
      background: $theme-color-2;
      border: 1px solid $theme-color-2;
      box-shadow: $box-shadow-2;
    }
  }

  &__label {
    color: $almost-black;
    position: relative;
    cursor: pointer;
    padding-left: 2.5rem;
    font-size: rem-calc(16);
    font-weight: 500;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 1.5rem;

    &::before {
      @include square(1.5rem);
      @include transition(background);
      position: absolute;
      background: $white;
      border: 1px solid $gray;
      box-shadow: $box-shadow-1;
      border-radius: 0.25rem;
      border-top-left-radius: 0;
      content: '';
      top: 0;
      left: 0;

      /* IE10 & IE11 */
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        top: 3px;
      }
    }

    &::after {
      position: absolute;
      content: '';
      left: 5px;
      top: 2px;
    }
  }

  &__title {
    font-size: rem-calc(16);
    font-weight: 400;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;

    @include breakpoint(small only) {
      margin-top: 2rem;
    }
  }

  &__checkboxes {
    &:first-child {
      #{$root}__title {
        margin-top: 0;
      }
    }
  }

  &__button-container {
    width: 100%;

    @include breakpoint(large) {
      display: none;
    }
  }

  &__button {
    width: 100%;
    text-align: center;
  }

  &__reset {
    font-size: rem-calc(16);
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    fill: currentColor;
    cursor: pointer;
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid $almost-black;

    @include breakpoint(medium down) {
      margin-bottom: 2.5rem;
    }

    &:hover {
      #{$root}__icon {
        transform: rotate(180deg);
      }
    }
  }

  &__icon {
    @include transition();
    @include square(1rem);
    margin-right: 0.5rem;
  }

  &__search-placeholder {
    font-size: rem-calc(18);
    margin-bottom: 1rem;
    font-weight: 900;
  }

  &__input {
    @include transition();
    width: 100%;
    min-height: rem-calc(50);
    padding: 0.7rem 1rem;
    background: $white;
    border: 1px solid $gray;
    box-sizing: border-box;
    font-size: rem-calc(15);
    font-weight: 400;
    line-height: 1.1rem;
    color: $almost-black;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    box-shadow: $box-shadow-1;
    margin-top: 1rem;

    &::placeholder {
      color: $gray;
      font-weight: 400;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus {
      border: 1px solid $theme-color-1;
      background: $white;
      box-shadow: $box-shadow-2;
    }
  }

  &__filter-label {
    font-size: rem-calc(18);
    margin: 1rem 0;
    transform: translateY(1rem);
    border-top: 1px solid $black;
    padding-top: 2rem;
    font-weight: 900;

    @include breakpoint(medium down) {
      margin-top: 0;
    }
  }
}
