<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: DHUG - email backup unsubscribe
  screenshotPath: ""
-->
{% extends '../layouts/base.html' %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Unsubscribe" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  <section class="c-system-page">
    <div class="o-container">
      {% module 'backup_unsubscribe'
      extra_classes='backup-unsubscribe',
      path='@hubspot/email_simple_subscription'
      %}
    </div>
  </section>
</main>
{% endblock body %}