<!--
  templateType: page
  isAvailableForNewContent: true
  label: DHUG - Typography
  screenshotPath: ""
-->
{% extends "../layouts/base.html" %}

{% block body %}
  <main id="main-content" class="body-container-wrapper">
    {% dnd_area 'body_dnd_area' class='body-container body-container--faq', label='Main section' %}

    {% dnd_section %}
    {% dnd_module
        path = '../../modules/dhug_text-block',
        width = 12,
        offset = 0,
        padding = {
          'top': 'xxl',
          'bottom': 'xxl',
          'tablet_top': 'xl',
          'tablet_bottom': 'xl',
          'mobile_top': 'l',
          'mobile_bottom': 'l'
        },
        squeeze = 'l',
        align = {
          'desktop': 'left',
          'mobile': 'left'
        },
        colors = {
          'background': 'white',
          'text': 'black'
        },
        content = '
                <h1>Testing display of HTML elements</h1>
                <p>This is a test paragraph.</p>
                <br>

                <h2>This is 2nd level heading</h2>
                <p>This is a test paragraph.</p>
                <br>

                <h3>This is 3rd level heading</h3>
                <p>This is a test paragraph.</p>
                <br>

                <h4>This is 4th level heading</h4>
                <p>This is a test paragraph.</p>
                <br>

                <h5>This is 5th level heading</h5>
                <p>This is a test paragraph.</p>
                <br>

                <h6>This is 6th level heading</h6>
                <p>This is a test paragraph.</p>
                <br>

                <h2>Basic block level elements</h2>
                <p>This is a normal paragraph (<code>p</code> element).<br />
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex enim fugiat quis, dolor ratione similique officia alias repellendus consequuntur minima earum neque ipsum deleniti error ullam doloribus vero soluta repellat.<br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, repellat quasi eligendi optio molestiae debitis quia modi quos quas adipisci expedita reprehenderit, distinctio officiis blanditiis libero delectus, non quam voluptatibus.<br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur eaque soluta dolores. Laudantium, aliquid, saepe eveniet adipisci sit, cupiditate iure illo quas consectetur iste possimus optio. Aliquam id cumque voluptates.<br>
                </p>

                <div>This is a <code>div</code> element. Authors may use such elements instead<br />
                of paragraph markup for various reasons. (End of <code>div</code>.)</div>
                <br>

                <blockquote><p>This is a block quotation containing a single<br />
                paragraph. Well, not quite, since this is not <em>really</em><br />
                quoted text, but I hope you understand the point. After all, this<br />
                page does not use HTML markup very normally anyway.</p></blockquote>
                <br>

                <h2>Lists</h2>
                <p>This is a paragraph before an <strong>unnumbered</strong> list (<code>ul</code>). Note that<br />
                the spacing between a paragraph and a list before or after that is hard<br />
                to tune in a user style sheet. You can&#8217;t guess which paragraphs are<br />
                logically related to a list, e.g. as a &#8220;list header&#8221;.</p>
                <ul>
                <li>One.</li>
                <li>Two.</li>
                <li>Three. Well, probably this list item should be longer. Note that<br />
                for short items lists look better if they are compactly presented,<br />
                whereas for long items, it would be better to have more vertical spacing between items.</li>
                <li>Four. This is the last item in this list.<br />
                Let us terminate the list now without making any more fuss about it.</li>
                </ul>
                <p>The following is a <code>menu</code> list:</p>
                <menu>
                <li>One.</li>
                <li>Two.</li>
                <li>Three. Well, probably this list item should be longer so that it will<br />
                probably wrap to the next line in rendering.</li>
                </menu><br>
                <p>The following is a <code>dir</code> list:</p>
                <p>&nbsp;</p>
                <ul>
                <li>One.</li>
                <li>Two.</li>
                <li>Three. Well, probably this list item should be longer so that it will<br />
                probably wrap to the next line in rendering.<br />
                This is a paragraph before a <strong>numbered</strong> list (<code>ol</code>). Note that<br />
                the spacing between a paragraph and a list before or after that is hard<br />
                to tune in a user style sheet. You can&#8217;t guess which paragraphs are<br />
                logically related to a list, e.g. as a &#8220;list header&#8221;.</p>
                <ol>
                <li>One.</li>
                <li>Two.</li>
                <li>Three. Well, probably this list item should be longer. Note that if<br />
                items are short, lists look better if they are compactly presented,<br />
                whereas for long items, it would be better to have more vertical spacing between items.</li>
                <li>Four. This is the last item in this list.<br />
                Let us terminate the list now without making any more fuss about it.</li>
                </ol>
                <br>

                <p>This is a paragraph before a <strong>definition</strong> list (<code>dl</code>).<br />
                In principle, such a list should consist of <em>terms</em> and associated<br />
                definitions.<br />
                But many authors use <code>dl</code> elements for fancy &#8220;layout&#8221; things. Usually the<br />
                effect is not <em>too</em> bad, if you design user style sheet rules for <code>dl</code><br />
                which are suitable<br />
                for real definition lists.</p>
                <dl>
                <dt>recursion</dt>
                <dd>see recursion</dd>
                <dt>recursion, indirect</dt>
                <dd>see indirect recursion</dd>
                <dt>indirect recursion</dt>
                <dd>see recursion, indirect</dd>
                <dt>term</dt>
                <dd>a word or other expression taken into specific use in<br />
                a well-defined meaning, which is often defined rather rigorously, even<br />
                formally, and may differ quite a lot from an everyday meaning</dd>
                </dl>
                <br>

                <h2>Text-level markup</h2>
                <ul>
                <li><abbr title="Cascading Style Sheets">CSS</abbr> (an abbreviation;<br />
                <code>abbr</code> markup used)</li>
                <li><acronym title="radio detecting and ranging">radar</acronym> (an acronym; <code>acronym</code> markup used)</li>
                <li><b>bolded</b> (<code>b</code> markup used &#8211; just bolding with unspecified<br />
                semantics)</li>
                <li><big>big thing</big> (<code>big</code> markup used)</li>
                <li><span style="font-size: xx-large;">large size</span> (<code>font size=6</code> markup used)</li>
                <li><span style="font-family: Courier;">Courier font</span> (<code>font face=Courier</code> markup used)</li>
                <li><span style="color: red;">red text</span> (<code>font color=red</code> markup used)</li>
                <li><cite>Origin of Species</cite> (a book title;<br />
                <code>cite</code> markup used)</li>
                <li><code>a[i] = b[i] + c[i);</code> (computer code; <code>code</code> markup used)</li>
                <li>here we have some <del>deleted</del> text (<code>del</code> markup used)</li>
                <li>an <dfn>octet</dfn> is an entity consisting of eight bits<br />
                (<code>dfn</code> markup used for the term being defined)</li>
                <li>this is <em>very</em> simple (<code>em</code> markup used for emphasizing<br />
                a word)</li>
                <li><i lang="la">Homo sapiens</i> (should appear in italics; <code>i</code> markup used)</li>
                <li>here we have some <ins>inserted</ins> text (<code>ins</code> markup used)</li>
                <li>type <kbd>yes</kbd> when prompted for an answer (<code>kbd</code> markup<br />
                used for text indicating keyboard input)</li>
                <li><q>Hello!</q> (<code>q</code> markup used for quotation)</li>
                <li>He said: <q>She said <q>Hello!</q></q> (a quotation inside a quotation)</li>
                <li>you may get the message <samp>Core dumped</samp> at times<br />
                (<code>samp</code> markup used for sample output)</li>
                <li><small>this is not that important</small> (<code>small</code> markup used)</li>
                <li><span style="text-decoration: line-through;">overstruck</span> (<code>strike</code> markup used; note:<br />
                <code>s</code> is a nonstandard synonym for <code>strike</code>)</li>
                <li><strong>this is highlighted text</strong> (<code>strong</code><br />
                markup used)</li>
                <li>In order to test how subscripts and superscripts (<code>sub</code> and<br />
                <code>sup</code> markup) work inside running text, we need some<br />
                dummy text around constructs like x<sub>1</sub> and H<sub>2</sub>O<br />
                (where subscripts occur). So here is some fill so that<br />
                you will (hopefully) see whether and how badly the subscripts<br />
                and superscripts mess up vertical spacing between lines.<br />
                Now superscripts: M<sup>lle</sup>, 1<sup>st</sup>, and then some<br />
                mathematical notations: e<sup>x</sup>, sin<sup>2</sup> <i>x</i>,<br />
                and some nested superscripts (exponents) too:<br />
                e<sup>x<sup>2</sup></sup> and f(x)<sup>g(x)<sup>a+b+c</sup></sup><br />
                (where 2 and a+b+c should appear as exponents of exponents).</li>
                <li><tt>text in monospace font</tt> (<code>tt</code> markup used)</li>
                <li><u>underlined</u> text (<code>u</code> markup used)</li>
                <li>the command <code>cat</code> <var>filename</var> displays the<br />
                file specified by the <var>filename</var> (<code>var</code> markup<br />
                used to indicate a word as a variable).</li>
                </ul>
                <p>Some of the elements tested above are typically displayed in a monospace<br />
                font, often using the <em>same</em> presentation for all of them. This<br />
                tests whether that is the case on your browser:</p>
                <ul>
                <li><code>This is sample text inside code markup</code></li>
                <li><kbd>This is sample text inside kbd markup</kbd></li>
                <li><samp>This is sample text inside samp markup</samp></li>
                <li><tt>This is sample text inside tt markup</tt></li>
                </ul>
                <h2>Links</h2>
                <ul>
                <li><a href="https://www.google.nl">main page</a></li>
                <li><a title="Writing Systems and Punctuation" href="http://www.unicode.org/versions/Unicode4.0.0/ch06.pdf" type="application/pdf">Unicode Standard, chapter 6</a></li>
                </ul>
                <p>This is a text paragraph that contains some<br />
                inline links. Generally, inline links (as opposite to e.g. links<br />
                lists) are problematic<br />
                from the<br />
                <a href="http://www.useit.com">usability</a> perspective,<br />
                but they may have use as<br />
                “incidental”, less relevant links. See the document<br />
                <cite><a href="links.html">Links Want To Be Links</a></cite>.</p>
        
        '
    %} 
    {% end_dnd_module %}
  {% end_dnd_section %}

    {% end_dnd_area %}
  </main>
{% endblock body %}