.c-breadcrumb {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

  &__home-link {
    color: inherit;
    fill: currentColor;
    margin-bottom: 4px; // v-align

    &:hover {
      fill: $black;
    }
  }

  &__icon,
  &__home-link {
    @include square(1.25rem);
  }

  &__chevron-container {
    fill: currentColor;
    margin: 0 0.25rem;
  }

  &__chevron {
    @include square(0.5rem);
    margin-bottom: 2px;
  }

  &__parent,
  &__current {
    color: $black;
    line-height: 1;
    font-size: rem-calc(16);
  }

  &__parent {
    color: inherit;

    &:hover {
      color: $black;
    }
  }
}

.u-text-color--white {
  .c-breadcrumb {
    &__current {
      color: $white;
    }
  }
}
